@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

img {
  width:100px;
  height:100px;
  margin-right: 10px;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}

  
form {
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 30px;
}


input,textarea {
  border-radius: 5px;
  border: solid #cecece 1px;
  padding: 5px;
  margin-bottom: 0.5rem;
}
textarea {
  margin-top: 10px;
  background-color: #EEF2F8;
  border-radius: 10px;
  border: 0px;
  width: 100%;
  height: 134px;
}

hr {
  width: 90%;
  border: 1px solid #98A2B3;
  opacity: 0.4;
  margin-top: 10px;
  margin-bottom: 25px;
}

label {
  font-size: 16px;
}
  
.body{
  padding: 10px;
  font-style: normal;
  background-color: #F7F9FC;
  margin: 0px auto;
  border-radius: 6px;
  max-width: 680px;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tasks-title{
  font-size: 22px;
  color: #475467;
  font-weight: 600;

}
.page-title {
  font-size: 16px;
  color:#475467;
}
/* TASK */
  

.task {
  display: grid;
  grid-template-columns: 80px 1fr 130px 40px;
  grid-template-rows: 100px;
  justify-items: start;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #F7F9FC;
  box-shadow: 0 4px 6px #10182814, 0 12px 16px #10182814;
  margin-top: 20px;
  }

.task-form-open{
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #F7F9FC;
  box-shadow: 0 4px 6px #10182814, 0 12px 16px #10182814;
  margin-top: 20px;

}

.task__title {
  font-size: 16px;
  font-weight:600px ;
  margin-bottom: 10px;
  color: #101828;
  flex-wrap: wrap;
}


.task__assignee {
  font-size: 14px;
}

.task__date {
  font-size: 14px;
  margin-top: 5px;
}

.task__status {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #fff;
  margin-left: auto;
}
 
.task__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center;
  color:#98A2B3
}

  .task-title {
    width: 576px;
    height: 18px;
    color: #101828;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px; 
  }

.creationDate{
    font-size: 12px;
    font-style: normal;
    color: #667085
}


/* FORM */



.form-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}
.task-form-container{
  display: flex;
  flex-direction: row;
}
.form-task-title{
  cursor: pointer;
  flex-wrap: wrap;
  color:#101828;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.form-row-1{
  display: flex;
  flex-direction: column;
}


.form-text {
  margin-left: 20px;
  width: 100%;
}
.new-task-form_wrapper{
  display: flex;
  flex-direction: column;
  background-color: #F7F9FC;
  border-radius: 6px;
  max-width: 680px;
  
}

.task-form-open > .task {
  cursor: default;
}


.form-group{
  display: flex;
  flex-direction: column;
}
.form-row-2 {
  justify-content: space-around;
}

.form-image{
    height: 40px;
    width: 40px;
    background-color: #0F52BA;
    border-radius: 50%;
    border-radius: 6px;
    padding: 8px;
    
}


/* BUTTONS */



.submit_button {
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #0F52BA;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit_button:hover {
  background-color: rgb(106, 136, 181)
}

  
.new_task_button {
  border: solid 1px #DFE3EB;
  padding: 10px 20px;
  border-radius: 6px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color:#98A2B3;
}

.new_task_button:hover {
  background-color: #0F52BA;
  color: #fff;
}



/* DROPDOWN */



.status_dropdown{
  background-color: #EEF2F8;
  text-align: center;
  border-radius:16px ;
  border: 0px solid;
  padding: 3px 6px;
  justify-content: center;
  font-size: 13px;
  color: #475467;   

}
.task>.status_dropdown{
  background-color: #0F52BA;
 color: #EEF2F8;
}


.status_dropdown_list{
  border-radius: 50px;
  background-color: red;
}

@media only screen and (min-width: 680px){
  .task-list-container>.status_dropdown:hover{
    background-color: #EEF2F8;
    color: #EEF2F8;
  
  }}



/* SUBTASKS */




.sub-tasks-lable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #475467;
  padding-top: 20px;
  
}

.sub-tasks-lable-container div {
  background-color:#EEF2F8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.sub-task-date{
  display: grid;
}

.sub-task{
  cursor: default;
} 
  
.sub-tasks-lable {
  color: #667085;
  padding-top: 10px;
}


.related-tasks-container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.related-tasks-title{
    color: #475467;
    padding-top:10px;
    padding-bottom: 10px;
}

/* INPUT */

.input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-description{
  color: #667085
}
 

.row_2_wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #98A2B3;
}
.lable-row-2{
  display: flex;
  padding: 5px 10px;
  flex-direction: row;
}

.select-hover {
  cursor: pointer;
}




.arrow {
    border: solid #475467;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
/* used with arrow */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.icon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 12.5%;
    bottom: 12.5%;
    border: 2px solid #1D2939;
}

.x-icon{
  display:flex;
  flex-direction: row-reverse;
  padding-left:;
}
.dot {
  height: 2px;
  width: 2px;
  background-color:#98A2B3;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}


 .duplicate-icon{
display: flex;
  width:15px;
  height: 15px;
 }
.upper-right-cotainer{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 520px;  
}

.small-line{
  display: flex;
  margin: 1px;
  margin-right:25px;
  flex-direction: column;
}
.task-line-status{
  display: flex;
  flex-direction: row;
}

  /* PAGINATION */
.pagination{
  display: flex;
  font-size: 18px;
  background-color:transparent;
  border-radius: 6px;
  border:none;
  justify-content: center;
  padding: 2px 10px;
  cursor: pointer;
}
  
.pagination :hover{
  background-color:#DFE3EB
}
.left-side-container > .assignee__title{
  display:none;
}

@media only screen and (max-width: 680px){
  .task{
    justify-content: center;
    grid-template-columns: 70px 1fr 90px;
    padding: 15px;
  }
 
  .left-side-container > .assignee__title {
    display:block;
  }
  .left-side-container{
    display: flex;
    flex-direction: column;
  }
  .task__info > .assignee__title{

    display:none;
    align-items: center;
  }
  .form-image{
        margin-bottom: 10px;
  }
  .small-line{
    display: none;
  }
 
  .task-form-open > .creation-date{
    display: none;
  }
  .upper-right-cotainer{
    justify-content: right;
    padding-left: 0px;
    align-items: center
  }
  .task-arrow {
    display: none;
  }
  .assignee__title{
    color: #98A2B3;
  }
  .dot{
    display: none;
  }
  .sub-task-date{
    display: none;
  }
}

